{{> header }}
    <div>Top part
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div style="width: 200px; float: left; height: 500px">Left part</div>
    <div style="height: 500px">This is contact page</div>
{{> footer }}